<div class="container">

<h3>スケジュール編集</h3>

<%= render "shared/flash_failure" %>

<%= render "shared/error", obj: @post %>

<%= render "shared/form", post: @post %>

<%= render "shared/to_index" %>

</div>